@import './styles/main.scss';

#accomodation {
    .title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  
}
#feedback {
  .title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    
  }
}